<%= form_with model: profile, id: dom_id(profile) do |form| %>
  <div class="dark:bg-gray-700 shadow px-4 py-3 lg:rounded-lg">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <%= render TitleComponent.new("Profile") %>
        <p class="mt-1 text-sm text-gray-500">This information will be displayed pubicly</p>
      </div>
      <div class="md:col-span-2">
        <div class="flex flex-col space-y-2">
          <%= render Form::FieldComponent.new(form, :first_name) do |field| %>
            <% field.with_input_text %>
          <% end %>
          <%= render Form::FieldComponent.new(form, :last_name) do |field| %>
            <% field.with_input_text %>
          <% end %>
          <%= render Form::FieldComponent.new(form, :date_of_birth) do |field| %>
            <% field.with_input_date %>
          <% end %>
          <p class="mt-2 text-sm text-gray-500">
            We will tell your happy birthday on your birthday!
          </p>
          <%= render Form::ButtonComponent.new(form, title: 'Update') %>
        </div>
      </div>
    </div>
  </div>
<% end %>
