<%= tag.div id: 'toast', data: { controller: 'toast' }, class: div_classes do %>
  <div class="mr-5 h-9 w-full max-w-[36px] flex items-center justify-center rounded-lg <%= icon_background %>">
    <%= inline_svg_tag icon, class: 'w-5 h-5 fill-whiter' %>
  </div>
  <div class="w-full">
    <h5 class="mb-3 font-semibold text-black dark:text-white">
      <%= @flash_type.humanize %>
    </h5>
    <ul>
      <li class="leading-relaxed text-black dark:text-white">
        <%= @message %>
      </li>
    </ul>
  </div>
<% end %>

