<%= form_for bet, data: { controller: 'autosubmit', chart_target: "report", date: bet.created_at, value: bet.won } do |f| %>
  <div class="grid grid-cols-3 sm:grid-cols-5">
    <%= render "bets/input", form: f, bet: bet, field: :created_at %>
    <%= render "bets/input", form: f, bet: bet, field: :status %>
    <%= render "bets/input", form: f, bet: bet, field: :stake %>
    <%= render "bets/input", form: f, bet: bet, field: :won %>
  </div>
<% end %>
